body {
    text-align: center;
    background-color: gainsboro;
}


.container {
    padding-top: 20px;
}

#color-box {
    width: 200px;
    height: 200px;
    background-color: purple;
    margin: auto;
}

#change-color-btn {
    margin-top: 20px;
    background-color: black;
    border: solid purple;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 5px gray;
}

#change-color-btn:active {
    transform: scale(0.95);
}
